<%#= render '/refinery/content_page' %>

<!--         <section id="home" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
            <div class="parallax-overlay"></div> 
            <div class="home-content text-center">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-4 col-lg-offset-4">
                      <%#= image_tag 'logo.png', class: 'img-responsive' %>
                    </div>
                      
                    </div>
                    <div class="main-flex-slider">
                        <ul class="slides">
                            <li>
                                <h2>Quality Auto Body and Engine Repair</h2>

                            </li>
                            <li>
                                <h2>Full Service Staff and Facilities</h2>

                            </li>
                            <li>
                                <h2>All Makes and Models - European and Domestic</h2>

                            </li>
                        </ul>
                    </div> 
                    <h2 class="slide-btm-text">Over 30 years experience</h2>
                    <div class="home-arrow-down text-center">
                        <p><a href="#about" class="btn btn-lg btn-theme-color">let's Start </a></p>
                    </div>
                </div>
            </div>
        </section> -->


        <section id="navigation" >
            <div class="navbar navbar-default navbar-static-top" role="navigation" style="background-color:rgba(250,250,250,.8);">
                <div class="container">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <%= image_tag 'logo.png', class: 'img-responsive' %>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <!-- <li><a href="#services">Services</a></li> -->
                            <!-- <li><a href="#work">Work</a></li> -->

                            <!-- <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Blog <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-list.html">Blog List</a></li>
                                    <li><a href="blog-post.html">Blog Post</a></li>
                                </ul>                               
                            </li> -->
                            <!-- <li><a href="#pricing">Pricing</a></li> -->
                            <li><a href="#contact">Contact</a></li>
                        </ul>

                    </div><!--/.nav-collapse -->
                </div><!--/.container -->
            </div>
        </section><!--navigation section end here-->



        




        <section id="top" style="background-image:url('assets/<%= @show_home_bg %>');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">

                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <h1>Welcome to TIME Sport USA!</h1>
                                <!-- <h4>The most innovative, hand-crafted frames and bicycle pedals in the world, all 100% MADE IN FRANCE!</h3> -->
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-4 text-center">
                                <a href="#time-pedals" class="scroll-btn"><h2>Pedals</h2>
                                <%= image_tag 'top-pedal.png', class: 'img-responsive img-circle' %>
                                </a>
                            </div>
                            <div class="col-lg-4 text-center">
                                <a href="#time-bikes-feature" class="scroll-btn"><h2>Bike/Frames</h2>
                                <%= image_tag 'top-bike-4.png', class: 'img-responsive img-circle' %>
                                </a>
                            </div>

                            <div class="col-lg-4 text-center">
                                <a href="#aktiv" class="scroll-btn"><h2>Technologies</h2>
                                <%= image_tag 'top-AKTIV.png', class: 'img-responsive img-circle' %>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                                                    <div class="home-arrow-down text-center">
                        <p><a href="#made-in-france" class="btn" style="color:#d2232a;">MADE IN FRANCE<br />
                            <%= image_tag 'made-in-france-bars.png', width: '100', style: 'border:none;' %><br />
                        <span class="fa fa-chevron-down fa-4x"></span></a></p>
                        </div>


                        </div>




                    </div>







                </div>
            </div>







        </section>




        <section id="made-in-france" class="padding-80"><!-- #about -->

            <!--about page content-->
            <div class="about-section">
                <div class="container">
                    <div class="section-heading text-center">
                        <!-- <h4 class="small section-title"><span>We love what we do?</span></h4> -->
                        <h2 class="large section-title" style="font-weight:100;color:#fff;">MADE IN FRANCE</h2>
                        <%= image_tag 'made-in-france-bars.png', width: '200' %>
                    </div><!--section heading-->             

                </div><!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2">
                            <div class="about-box wow animated fadeInDown" data-wow-duration="0.3s">
                                <div class="about-box-icon">
                                    <i class="ion-ios7-lightbulb-outline"></i>
                                </div>
                                <div class="about-box-text" >
                                    
                                    <p class="lead" style="">
                                        Yes, Made in France! 100%. Our carbon fiber starts out as a thread. We weave them together in specific angles and with different types of material to get the ride we are looking for. Through our RTM process we control the thickness and shape of each tube. So much so, that our frames look as good on the inside as they do the outside.</p>

                                        <p class="lead"> What you get is a work of art that comes straight from France that has all the qualities of a great ride: stiffness, lightness and comfort.
                                    </p>
                                </div>
                            </div><!--about us box end-->
                        </div>

                    </div><!--about services row end--> 
                                       <div class="home-arrow-down text-center">
                        <p><a href="#time-bikes-feature" class="btn btn-lg btn-theme-color">See What's New<br />
                        <span class="fa fa-chevron-down fa-4x"></span></a></p>
                    </div>

                </div>
                    
                            
        </section>

        <!--about section end here-->

        <section id="time-bikes-feature">
            <div class="container-fluid" style="margin:0px;padding:0px;">
                <div class="row">
                    <div class="col-lg-12"></div>
                </div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" style="background-image:url('assets/bg-SKYLON.jpg');">
        <div class="row">
            <div class="col-lg-8">
                <%= image_tag 'Skylon-AKTIV-Team_bike.png', class: '1-img-responsive', id: 'bike-image' ,style: '' %>
            </div>
            <div class="col-lg-3  wow animated bounceIn" id="home-bikes-txt">
                <%= image_tag 'SKYLON-LOGO-black.png', class: 'img-responsive' %>
                <h1>Explosivity<br />Power<br />Precision</h1>
                <p class="lead">Made in France TIME weaving technic will provide the explosivity you need to breakaway and keep your rythmn against the wind.</p>
                <%= button_tag 'READ MORE', class: 'btn btn-danger' %>
            </div>
            <div class="home-arrow-down text-center">
                <p><a href="#time-bikes" class="btn" style="margin-top:180px;color:#fff  ;font-weight:bold;">See Our 2015 Collection<br />
                <span class="fa fa-chevron-down fa-4x"></span></a></p>
            </div>
        </div>
    </div>

    <div class="item" style="background-image:url('assets/izon-bg.jpg');">

        <div class="row">
            <div class="col-lg-8">
                <%= image_tag 'Izon-AKTIV-red_bike.png', class: '1-img-responsive', id: 'bike-image' ,style: '' %>
            </div>
            <div class="col-lg-3  wow animated bounceIn" id="home-bikes-txt">
                <%= image_tag 'IZON-LOGO-black.png', class: 'img-responsive' %>
                <h1>Explosivity<br />Power<br />Precision</h1>
                <p class="lead">Made in France TIME weaving technic will provide the explosivity you need to breakaway and keep your rythmn against the wind.</p>
                <%= button_tag 'READ MORE', class: 'btn btn-danger' %>
            </div>
            <div class="home-arrow-down text-center">
                <p><a href="#time-bikes" class="btn" style="margin-top:180px;color:#fff  ;font-weight:bold;">See Our 2015 Collection<br />
                <span class="fa fa-chevron-down fa-4x"></span></a></p>
            </div>
        </div>

    </div>

    <div class="item" style="background-image:url('assets/fuidity-bg.jpg');">
        <style>
        #time-bikes-feature {}
        </style>
        <div class="row">
            <div class="col-lg-8">
                <%= image_tag 'Fluidit-AKTIV-black_bike.png', class: '1-img-responsive', id: 'bike-image' ,style: '' %>
            </div>
            <div class="col-lg-3  wow animated bounceIn" id="home-bikes-txt">
                <%= image_tag 'FLUIDITY-LOGO-black.png', class: 'img-responsive' %>
                <h1>Explosivity<br />Power<br />Precision</h1>
                <p class="lead">Made in France TIME weaving technic will provide the explosivity you need to breakaway and keep your rythmn against the wind.</p>
                <%= button_tag 'READ MORE', class: 'btn btn-danger' %>
            </div>
            <div class="home-arrow-down text-center">
                <p><a href="#time-bikes" class="btn" style="margin-top:180px;color:#fff  ;font-weight:bold;">See Our 2015 Collection<br />
                <span class="fa fa-chevron-down fa-4x"></span></a></p>
            </div>
        </div>

    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


        </section>













        <section id="time-bikes">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center"><h1>The Collection - 2015</h1></div>

                </div>
                <div class="row">
                    <div class="col-lg-3 text-center"><h2>Aero</h2></div>
                    <div class="col-lg-3 text-center"><h2>Altitude</h2></div>
                    <div class="col-lg-3 text-center"><h2>Endurance</h2></div>
                    <div class="col-lg-3 text-center"><h2>Velodrome</h2></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 text-center"><%= image_tag 'Skylon-AKTIV-plasma_bike.png', class: 'img-responsive' %>
                        <h5>SKYLON | AKTIV</h5></div>
                    <div class="col-lg-3 text-center"><%= image_tag 'Izon-AKTIV-red_bike.png', class: 'img-responsive' %>
                        <h5>IZON | AKTIV</h5></div>
                    <div class="col-lg-3 text-center"><%= image_tag 'Fluidit-AKTIV-black_bike.png', class: 'img-responsive' %>
                        <h5>FLUIDITY | AKTIV</h5></div>
                    <div class="col-lg-3 text-center"><%= image_tag 'ZXrs.png', class: 'img-responsive' %>
                        <h5>ZXrs Piste</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 text-center"><%= image_tag 'Skylon-red_bike.png', class: 'img-responsive' %>
                        <h5>SKYLON</h5></div>
                    <div class="col-lg-3 text-center"><%= image_tag 'Izon-plasma_bike.png', class: 'img-responsive' %>
                        <h5>IZON</h5>
                    </div>
                    <div class="col-lg-3 text-center"><%= image_tag 'Fluidity-White_bike.png', class: 'img-responsive' %>
                        <h5>FLUIDITY</h5>
                    </div>
                    <div class="col-lg-3 text-center">
                    <div class="home-arrow-down text-center">
                        <p><a href="#aktiv" class="btn" style="margin-top:0px;color:#000  ;font-weight:bold;">Our latest technologies<br />
                        <span class="fa fa-chevron-down fa-4x"></span></a></p>
                    </div>

                                                
                    
                    

                </div>

                </div>





            </div>

        </section>

        <section id="aktiv">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        
                        <%= image_tag 'Izon-AKTIV-red_bike.png', class: '1-img-responsive ', id: 'aktiv-izon' ,style: '' %>

                    </div>
                    <div class="col-lg-6" id="aktiv-txt">
                        <%= image_tag 'AKTIV-LOGO-white.png' %>
                        <h3>With AKTIV, you will go farther, longer, faster...</h3>
                        <p class="lead">Today, TIME are going further in their quest for performance. Following several years of research and the application of three patents, TIME introduces ACTIV,  a revolutionary fork featuring an integrated <strong>tuned mass damper,</strong> which dispels vibrations detrimental to the cyclist’s performance and comfort.</p>
                        <p><%= button_tag 'Learn more about AKTIV', class: 'btn btn-danger' %></p>
                    </div>
                </div>
            </div>

        </section>

        <section id="time-pedals">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5" id="pedal-txt">
                        <h1>Pedals</h1>
                        <h3>For TIME, performance and biomechanics are one and the same</h3>
                        <p class="lead">Only by respecting the natural movements of your legs and joints, with angular and lateral float, as well as precise adjustment to the sensation or “feel” of the float, and with adjustable Q-factor Adjustment, can you decrease the risk of joint trauma and optimize performance following 3 points : 
                        security, ergonomics and performance.</p>
                        <p><%= button_tag 'See our 2015 pedals', class: 'btn btn-danger' %></p>
                    </div>
                    <div class="col-lg-7">
                        <%= image_tag 'TIME_Xpresso15_pers.png', class: 'img-responsive', id: 'feature-pedal' %>

                    </div>
                </div></div>
        </section>





        












        <!--pricing table section start here-->


        <section id="pricing" class="padding-80">

<% content_for :pricing do %>

            <div class="pricing-section-1">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>Choose a plan</span></h4>
                        <h2 class="large section-title">Pricing Tables</h2>
                    </div><!--section heading-->
                </div><!--section heading-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pricing-wrapper wow animated fadeInDown" data-wow-delay=".3s">
                                <div class="pricing-wrapper-inner">
                                    <h1>Free</h1>
                                    <h2>$00.00<small>-P/M</small></h2>
                                    <div class="price-desc">
                                        <p>15 email accounts</p>
                                        <p>10 Projects</p>
                                        <p><i class="ion-close"></i></p>
                                        <p><i class="ion-close"></i></p>
                                        <p><i class="ion-close"></i></p>
                                    </div>

                                    <div class="price-join">
                                        <a href="#" class="btn btn-lg btn-theme-color">Choose plan</a>
                                    </div>
                                </div>
                            </div><!--pricing wrapper-->
                        </div><!--price col-->
                        <div class="col-md-4">
                            <div class="pricing-wrapper price-popular wow animated fadeInUp" data-wow-delay=".6s">
                                <div class="pricing-wrapper-inner">
                                    <h1>Pro</h1>
                                    <h2>$99.99<small>-P/M</small></h2>
                                    <div class="price-desc">
                                        <p>Unlimited email accounts</p>
                                        <p>Unlimited Projects</p>
                                        <p>Unlimited Store (3 years)</p>
                                        <p>Unlimited users</p>
                                        <p>Full Support</p>
                                    </div>

                                    <div class="price-join">
                                        <a href="#" class="btn btn-lg btn-theme-color">Choose plan</a>
                                    </div>
                                </div>
                            </div><!--pricing wrapper-->
                        </div><!--price col-->
                        <div class="col-md-4">
                            <div class="pricing-wrapper wow animated fadeInRight" data-wow-delay=".9s">
                                <div class="pricing-wrapper-inner">
                                    <h1>Basic</h1>
                                    <h2>$49.99<small>-P/M</small></h2>
                                    <div class="price-desc">
                                        <p>Unlimited email accounts</p>
                                        <p>Unlimited Projects</p>
                                        <p>500 GB Storage</p>
                                        <p>Unlimited users</p>
                                        <p>Full Support</p>
                                    </div>

                                    <div class="price-join">
                                        <a href="#" class="btn btn-lg btn-theme-color">Choose plan</a>
                                    </div>
                                </div>
                            </div><!--pricing wrapper-->
                        </div><!--price col-->
                    </div>
                </div>
            </div><!--price section one end here-->

<% end %>

            <div class="dealers">
                <div class="container text-center wow animated bounceIn">
                    <h1>Our Dealers</h1>
                    <p><a href="#contact" class="btn btn-lg btn-theme-color">Locations</a></p>
                </div>
            </div>

        </section> <!--pricing table section end here-->



        <section id="contact" class="padding-80">


            <div class="contact-sec-1">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>we would love to hear from you  </span></h4>
                        <h2 class="large section-title">Contact Us</h2>
                    </div><!--section heading-->
                </div><!--.container-->
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-md-8"> -->
                            <!-- <h4>Get in touch</h4>
                            <form class="wow animated fadeInLeft" data-wow-delay=".3s">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="subject">Subject</label>
                                        <input type="text" class="form-control" id="subject">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="message">Message</label>
                                        <textarea class="form-control" id="message" rows="7"></textarea>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-theme-color btn-lg">Send Message <i class="ion-paper-airplane"></i></button>
                                    </div>
                                </div>
                            </form> --><!--contact form-->
                        <!-- </div> -->
                        <div class="col-md-4">
                            <h4>Contact info</h4>
                            <div class="contact-info wow animated fadeInRight" data-wow-delay=".6s">
                                <p><i class="ion-location"></i> 629 N. Ashland, Chicago IL 60622</p>
                                <p><i class="ion-ios7-telephone"></i> (312) 379-0256</p>
                                <p><b>Fax:</b> (312) 379-0258</p>
                                <p><i class="ion-email"></i> <a href="#">eriecollision@yahoo.com</a></p>
                                <p><i class="ion-clock"></i> Monday-Friday 8:00am-5:00pm<br />
                                Saturday 9:00am until noon</p>
                                <hr>
                               <!--  <h4>Elsewhere</h4>
                                <ul class="list-inline social-colored"> 
                                    <li><a href="#"><i class="ion-social-facebook icon-fb" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="ion-social-twitter icon-twit" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="ion-social-googleplus icon-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                                </ul>  --><!--colored social-->
                            </div>
                        </div>
                        <div class="col-md-8">
                          <%= image_tag 'street.png', class: 'img-responsive' %>
                        </div>
                    </div>
                </div>
            </div><!--Contact-sec-1 end-->

        </section><!--contact section end-->
        <div id="map-canvas" style="width:100%; height: 350px;"></div>
        <div class="contact-sec-2">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="contact-col wow animated flipInY" data-wow-delay=".3s">
                            <i class="fa fa-phone"></i>
                            <p>(312) 379-0256</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-col wow animated flipInY" data-wow-delay=".3s">
                            <i class="fa fa-envelope"></i>
                            <p>eriecollision@yahoo.com</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-col wow animated flipInY" data-wow-delay=".3s">
                            <i class="fa fa-compass"></i>
                            <p>629 N. Ashland, Chicago IL 60622</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--Contact-sec-1 end-->


        <section id="footer" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 copyright">
                        <span>&copy;2014.Erie Collision Center. All right reserved</span>
                    </div>
                    <div class="col-md-6 col-sm-6 footer-nav">
                        <ul class="list-inline">
<!--                             <li><a href="index.html">Home</a></li>
                            <li><a href="blog-list.html">Latest news</a></li>
                            <li><a href="typography.html">Typography</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </section><!--footer end-->
        <!--script files
        <script src="/assets/javascripts/jquery.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/jquery.easing.1.3.min.js" type="text/javascript"></script>
        <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/jquery.mixitup.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="//assets/javascripts/wow.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/jquery.sticky.js" type="text/javascript"></script>        
        <script src="/assets/javascripts/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/jquery.stellar.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/custom.js" type="text/javascript"></script>-->
       


